.gridElement {
    img {
        width: 50vw !important;
        // height: 100%;
        position: relative !important;
        // object-fit: contain;
        aspect-ratio: 1/0.6671778140293638;
    }
}